div.entry {
	margin-top:0.5em;
	margin-bottom:0.5em;
	}

.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}
	
span.titleOriginal-single {
	font-style: italic;
	}	
	
.affix {
      top: 0;
      width: auto;
	  
  }
.affix + .container-fluid {
      padding-top: 70px;
  }
  
div.container-fluid {
	padding-left:10px;
	padding-right:10px;
	}
	
div.container-fluid:first-of-type { 
	background-color:#eee;
	margin-bottom:5px;
	}	
	
ul.nav li.dropdown:hover ul.dropdown-menu {
	display:block;
	margin-top:0px;
	}
	
/* Formatierungen für WordClouds */	

div#wordcloud {
	font-family: "Helvetica", "Arial", sans-serif;
  /* color: #09f; */
	color: #035151;
	overflow: hidden;
	position: relative;
	margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
div#wordcloud a {
	color: inherit;
	text-decoration: none;
}
div#wordcloud a:hover {
	/* color: #0df; */
	color: #ECD5A7;
}
div#wordcloud a:hover {
	/* color: #0cf; */
	color: #ECD5A7;
}
div#wordcloud span {
	padding: 0;
}

div#wordcloud span.w10 {
	font-size: 54px;
	color: #035151;
}
div#wordcloud span.w9 {
	font-size: 50px;
	color: #a08246;
}
div#wordcloud span.w8 {
	font-size: 002222;
	color: #003A3A;
}
div#wordcloud span.w7 {
	font-size: 40px;
	color: #5C420E;
}
div#wordcloud span.w6 {
	font-size: 34px;
	color: #003A3A;
}
div#wordcloud span.w5 {
	font-size: 30px;
	color: #836528;
}
div#wordcloud span.w4 {
	font-size: 24px;
	color: #ECD5A7;
}
div#wordcloud span.w3 {
	font-size: 20px;
	color: #C1A56C;
}
div#wordcloud span.w2 {
	font-size: 14px;
	color: #257878;
}
div#wordcloud span.w1 {
	font-size: 10px;
	color: #003A3A;
}
